.AdminLogin {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.AdminLogin h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.AdminLogin form {
    width: 300px;
}

.AdminLogin label {
    display: block;
    margin-bottom: 0.5rem;
}

.AdminLogin input[type="text"],
.AdminLogin input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.AdminLogin button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.AdminLogin button:hover {
    background-color: gray;
}
p span{
    color: red;
}
.AdminLogin p{
    text-decoration: none;
}

